<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= isPageTitle %> </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1><%= isPageTitle %></h1>
        <p>Zoek een play buddy voor je huisdier op basis van je interesses en voorkeuren </p>
    </header>
    <main>
        <!-- filter form -->
         <form action="/filter" method="GET">
            <fieldset>
                <legend>Zoeken</legend>

                <label for="zoekbalk">Zoekterm</label>
                <input type="text" name="zoekbalk">
            </fieldset>
            <fieldset>
                <legend>Filters</legend>

                <label for="petType">Diersoort</label>
                <select name="petType" id="petType">
                    <option value="cat">Kat</option>
                    <option value="dog">Hond</option>
                    <option value="rabbit">Konijn</option>
                </select>

                <label for="mayOutside"><input type="radio" name="mayOutside" value="yes">Kan buiten spelen?</label>

            </fieldset>
            
            <button type="submit">Toon resultaten</button>
         </form>
    </main>
</body>
</html>